body {
    background-image: url(macroniwithcheese.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 500px;     
    height: 650px;     
    background-color: beige; 
    border: 2px solid black; 
    text-align: left; 
    line-height: 30px; 
    margin: 20px;
  }
  .ontainer {
    width: 700px;
    height: 550px;
    background-color: beige;
    border: 2px solid black;
    text-align: left;
    line-height: 30px;
    margin: 20px;
  }
  .ntainer {
    width: 700px;
    height: 220px;
    background-color: beige;
    border: 2px solid black;
    text-align: left;
    line-height: 30px;
    margin: 20px;
  }
  .tainer {
    width: 700px;
    height: 200px;
    background-color: beige;
    border: 2px solid black;
    text-align: left;
    line-height: 30px;
    margin: 20px;
  }
  .tab {
    display: flex;
    cursor: pointer;
    padding: 10px;
    }
.tab div {
    padding: 10px 20px;
    margin: 2px;
    background-color: bisque;
    border-radius: 5px;
    }
    .tab div.active {
      color: white;
      }
      .tab-content {
      display: none;
      padding: 20px;
      border: 1px solid #ddd;
      }
      .tab-content.active {
      display: block;
      }